;; User config file

{:settings
 ;; You can output straight to your plover config dir
 {:output-file "/home/grahp/.config/plover/ametrine.json"}
 :starters {

            }
 :enders {

          }
 :vowels {

          }

 :overrides {
             ;; My stuff
             "WHRAO*SZ" "{>}soon"
             "SWHRAO*SZ" "{^}{>}soon"
             "#WHRAO*SZ" "{>}{-|}soon"
             "#SWHRAO*SZ" "{^}{-|}soon"

             "WHRAO*FRL" "{>}throa"
             "SWHRAO*FRL" "{^}{>}throa"
             "#WHRAO*FRL" "Throa"
             "#SWHRAO*FRL" "{^}Throa"
             "KWHR*EFBL" "vel"
             "SKWHR*EFBL" "{^}{>}vel"
             "#KWHR*EFBL" "{-|}vel"
             "#SKWHR*EFBL" "{^}{-|}vel"
             }}
